@import url(https://fonts.google.com/specimen/Playfair);
*{
    margin:0 ;
    padding: 0;
    font-family: sans-serif;
    
}
.marquee{
    background-color: rgba(108, 78, 42, 0.653);

}
.banner{
      
    overflow: auto;
    background-repeat: no-repeat;
    height: 300%;
    background-size: cover;
    width: 100%;
    background-image: url(pics/turtbg2.jpg);
    background-position: center;
    position: relative;
    text-align: center;
    align-items: center;
    align-content: center;
 
   
}
.navbar{
    width: 100%;
    margin: 0px;
    padding: 50px 0;
    display:inline;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
    font-size:x-small;
    font-family: Arial;
    background-color: #150e42;

}
.logo{
    width: 300px;
    
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    float: inline-start;
    font-size: xx-large;
    font-family: Arial ;
    font-weight: bold;
    color: azure;
    border-radius: 30px;



}
.logo-container{
    display:inline-flex;
    align-items:center;
    padding: 10%;
    
}

.navbar ul li{
    list-style:none;
    display:inline-block;
    text-align: center;
    margin: 5px;
    padding: 0px ;
    border-radius: 40px;
    font-size: 13px;
    font-weight: bold;
   
 

}
.navbar ul li a{
    text-decoration: none;
    color: #150e42;
    text-transform: uppercase;
}
.a.active, a:hover{
    background: rgba(16, 51, 51, 0.333);
    transition: .5s;
    padding: 5px;
    border-radius: 10px;

}


.section1{
    background-color: rgba(21, 28, 32, 0.626);
    width: 80%;
    border: #0e2328;
    padding: 50px;
    margin: 70px;
    border-radius: 15px;
    align-items: center;
    align-self: center;
    align-content:center;
    justify-content: left;
    margin-bottom: 120px;
    
}
label.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    text-align: center;
    color: azure;
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 80px;

}
.content2{
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    justify-content: left;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;


    color: rgb(223, 218, 201);

}
.General{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(117, 212, 212);
    
}
.pic3{
    margin-top: 10px;
    width: 400px;
    border-radius: 5px;
    margin-left: 15%

}
.pic2{
    margin-top: 10px;
    width: 400px;
    border-radius: 5px;
    margin-left: 15%;
}
.pic1{
  
    margin-top: 10px;
    width:400px;
    border-radius: 5px;
    margin-left: 15%;
}
.turt li{
    margin-left: 20%;
    margin-right: 20%;
}
/*Footer*/

.footer{
    color: #0b091b;
    text-align: right;
    font-weight: bold;
    font-size: small;
    padding: 10px;
}

@media (min-width:478px) AND (max-width: 768px){
    .section1 {
        width: 100%;
        margin-left:1%
        
    
       
    }
    .pic1{
        margin-left: -1%;
    }
    .pic2{
        margin-left: -1%;
    }
    .pic3{
        margin-left: -1%;
    }
    .marquee{
        width: 102%;
    }

}

@media (min-width:320px) AND (max-width: 480px) {
    .pic1{
        margin-left: 5%;
        width: 100%;
    }
    .pic2{
        margin-left: 5%;
        width: 100%;
    }
    .pic3{
        margin-left: 5%;
        width: 100%;
    }
    .footer{
        width: 100%;
    }
    .section1{
        width: 82%;
        margin-left: 1%;
    }
    .marquee{
        width:108%;
    }

}
